body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #131F24;        
}



form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.team-list {
    display: flex;
    text-align: center;    
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 80%;   
    flex-wrap: wrap;
}


.cancha {
    order: 2; /* Coloca el elemento cancha debajo de los otros dos en pantallas pequeñas */
}

@media (max-width: 768px) {
    .team-list {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */        
        align-items: center; /* Centra los elementos en pantallas pequeñas */
    }

    .cancha {
        order: 3; /* Coloca el elemento cancha debajo de los otros dos en pantallas pequeñas */
    }
}






.redTeam, .blueTeam {
    flex: 1;
    margin: 0 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.redTeam {
    background-color: #ffcccc;
    border: 2px solid #ff6666;
}

.blueTeam {
    background-color: #ccccff;
    border: 2px solid #6666ff;
}


.redTeam:hover, .blueTeam:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.teams h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.teams ul {
    list-style: none;
    padding: 0;
}

.teams ul li {
    padding: 0.75rem;
    margin: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    text-align: center;
    font-size: 1.1rem;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.teams ul li:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
    cursor: pointer;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color:  rgb(88 204 2);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: float 3s ease-in-out infinite;
    text-align: center;    
    width: 90%;
}

#titulo_element {
    display: flex;
    align-items: center;   
    justify-content: center; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 320px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color:  rgb(88 204 2);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);    
    text-align: center;
    width: 70%;  
    min-width: 320;      
}

#max_players{
    display: flex;
    max-width: 250px;
}

#distribute_random{
    max-width: 200px;
}

#inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    align-items: center;
    justify-content: center;
}

#teamForm{
    background-color: #131F24;
}

.imagen_inicio{
    background-color: #131F24;
}

.several_inputs{
    flex: 1 1 calc(50% - 10px); /* 50% del ancho menos la mitad del gap */
    min-width: 400px; /* Si el ancho es menor, se ajusta a una columna */    
    text-align: center;
    max-width: 400px;
}

.botones_recurrentes{
    background-color: #58cc02;
    color: white; /* Texto blanco */
    font-weight: bold;
    padding: 12px 24px; 
    border: black; 
    border-color: black;
    border-radius: 25px; /* Bordes redondeados */
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}


.botones_recurrentes:active {
    transform: scale(0.95); /* Efecto de presión al hacer clic */
}

.botones_recurrentes:disabled {
    background-color: rgb(155, 253, 80); /* Efecto de presión al hacer clic */
}

#reload_button {
    background-color: rgb(255,75,75);
}

#reload_button:disabled{
    background-color: rgb(255,100,100);
}