
.cancha {
  position: relative;
  display: flex;
  width: 420.4px;
  height: 602.6px;
  /*background-image: url('../assets/img/cancha.jpg'); /* Imagen de una cancha de fútbol */
  background: linear-gradient(rgba(19, 31, 36, 0.5), rgba(19, 31, 36, 0.5)), url('../assets/img/cancha.jpg');
  background-size: cover;
  border: 2px solid #000;
}

.jugador {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  background-color: #fff;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  touch-action: none;
}

.mover_jugador {
  position: absolute;
  width: 45px;
  height: 45px;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  touch-action: none;
}

.jugador[equipo="rojo"] {
  background-color: red; /* Color para el equipo rojo*/
}

.jugador[equipo="azul"] {
  background-color: blue; /* Color para el equipo azul */
}